.allUpload .preview-docs-zone {
	width: 100%;
	border: 1px solid #ddd;
	/* display: flex; */
	padding: 5px 5px 0px 5px;
	position: relative;
	overflow: auto;
}

.allUpload .preview-docs-zone > .preview-doc {
	height: 185px;
	width: 185px;
	position: relative;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

.allUpload .preview-docs-zone > .preview-doc > .doc-zone {
	width: 100%;
	height: 100%;
	background-color: #c5eff7;
}

.allUpload .preview-docs-zone > .preview-doc > .doc-zone > .text-zone {
	width: 100%;

	position: relative !important;
	text-align: center;
	margin: 0 auto !important;

	top: 50%;
	transform: translateY(-50%);
}

.allUpload .preview-docs-zone > .preview-doc > .doc-zone > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.allUpload .preview-docs-zone > .preview-doc > .tools-edit-doc {
	position: absolute;
	z-index: 100;
	color: #fff;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	display: none;
}

.allUpload .preview-docs-zone > .preview-doc > .tools-name-doc {
	position: absolute;
	z-index: 100;
	color: #333;
	background-color: #fff;
	top: 0;
	width: 100%;
	text-align: center;
	margin: 23px 0 0 5px;
	display: none;
}

.allUpload .preview-docs-zone > .preview-doc > .tools-fixed {
	position: absolute;
	z-index: 100;
	color: #fff !important;
	top: 0;
	width: 100%;
	text-align: center;
	margin-top: 25px;
	background: rgba(255, 255, 255, 0.8);
	padding: 5px 20px;
}

.allUpload .preview-docs-zone > .preview-doc > .doc-cancel {
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
	display: none;
	z-index: 101;
}

.allUpload .preview-doc:hover > .doc-zone {
	opacity: .5;
}
.allUpload .preview-doc:hover > .doc-zone.orderable {
	cursor: move;
}

.allUpload .preview-doc:hover > .tools-edit-doc,
.allUpload .preview-doc:hover > .tools-name-doc,
.allUpload .preview-doc:hover > .doc-cancel {
	display: block;
}

.allUpload .ui-sortable-helper {
	width: 90px !important;
	height: 90px !important;
}

.allUpload div#messageEmpty{
	color: #777;
}
