
.hc__anexo {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.hc__anexo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.hc__anexo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 calc(50% - 5px);
    max-width: calc(50% - 5px);
    position: relative;
}

.hc__anexo-container > .add-image-btn {
    max-width: calc(50% - 5px);
}