.os__title {
    color: var(--new-primary-color);
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.os__subtitle {
    color: var(--new-primary-color);
    font-size: 26px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
}

.os__subtitle--secondary {
    color: var(--new-primary-color);
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
}

.os__subtotal {
    color: var(--text-color);
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;

    margin-bottom: 0;
}

.os__total {
    color: var(--new-primary-color);
    font-size: 18px;
    line-height: 100%;
    font-weight: 600;

    margin-bottom: 0;
}

.os__text {
    color: #777777;
    font-size: 14px;
    line-height: 180%;
    font-weight: 400;
}

.os__text b {
    color: #263238;
    font-size: 16px;
    font-weight: 600;
    display: block
}

.os__textInputReset {
    border: none !important;
    background-color: transparent !important;
    text-align: end !important;
    border-radius: 0 !important;
    font-weight: 700 !important;
    box-shadow: none !important;
}

.os__textInput {
    font-size: 18px !important;
    color: var(--new-primary-color) !important;
}

.os__textSubInput {
    font-size: 16px !important;
    color: var(--text-color) !important;
}

.os__anexo {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.os__anexo-container {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.os__anexo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 343px;
    position: relative;
}

p {
    margin: 0;
}

.desconto-field {
    color: #777777;
    font-weight: 600;
    text-align: end;
    font-size: 16px;
}

.form__cliente .form-group {
    width: 100%;
}