.floating-sidebar {
    position: fixed;
    top: calc(var(--ct-topbar-height) + 10vh);
    right: 0;
    max-width: 60px;
    background: linear-gradient(to top, #f0462d 0%, #ffb200 100%);
    padding: 16px 12px;
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    z-index: 1012;
    translate: 38px;
    transition: all 150ms ease-out;
}

.floating-sidebar:hover {
    translate: 0;
}

.sidebar-item {
    width: 3vw;
    height: 3vw;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    transition: background 0.3s;
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sidebar-item img {
    width: 62%;
    height: 62%;
}
