html {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-style: normal;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #f7f7f7;
}

p, h1, h2, h3, h4, span, a {
	margin: 0;
	color: #393939;
	font-weight: 500;
	font-size: 2.1rem;
}

.vh-100 {
	height: 100vh;
}

.error-content h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 18rem;
}

.error-content h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
}

.m-negative-2 {
	margin-top: -2rem;
}

.m-negative-3 {
	margin-top: -3rem;
}

@media (max-width: 992px) {
	p, h1, h2, h3, h4, span, a {
		font-size: 3rem;
	}

	.error-content h1 {
		font-size: 30rem;
	}

}