.ico-info-flag{
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin: auto 0 !important;*/
	width: 30px;
	height: 30px;
	right: 15px;
	top: -10px;
	z-index: 999;

	/*cursor: help;*/
	cursor: pointer;

	font-size: 1.25em !important;
	line-height: normal;

	background-color: white !important;
	color: #69C24D !important;
	/*border: 2px solid #69C24D;*/
	border-radius: 50% !important;

	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1) !important;
	transition: 0.05s !important;
}

.ico-info-flag:hover,
.ico-info-flag:focus,
.ico-info-flag:active {
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25) !important;
}

#explicacao-flag-modal {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 35%;
	padding: 12.5px;
	z-index: 9999;
	border-radius: 10px;
	background: white;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: 0.5s all;
}

#explicacao-flag-modal h3 {
	margin: 0 !important;
	margin-bottom: 20px !important;
	font-size: 1rem !important;
	font-weight: bold;
	max-width: calc(100% - 50px) !important;
}

#explicacao-flag-modal p {
	margin: 0 !important;
	text-align: justify !important;
}

.explicacao-flag-modal-hide {
	transform: translateX(300px);
	opacity: 0;
}

.explicacao-flag-modal-unhide {
	transform: translateX(0px);
	opacity: 1;
}

#btn-close-explicacao-flag-modal {
	position: absolute;
	top: 5px;
	right: 25px;
	width: 10px;
	height: 10px;

	cursor: pointer;
	border: none !important;
	background-color: unset;
	font-size: 1.75rem;
	font-weight: bold;
	color: rgb(205, 0, 0);
	outline: none !important;
}

#explicacao-flag-modal-timer,
#explicacao-flag-modal-timer-path {
	width: 100%;
	height: 7px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#explicacao-flag-modal-timer {
	background: #69C24D;
	border-radius: 2px;
	transition: 0.1s;
}

#explicacao-flag-modal-timer-path {
	background: #e1e1e1;
}